<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="range-slider/nouislider.min.css">
    <link rel="stylesheet/less" href="style.scss" type="text/css">
</head>
<body>

    <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="#" class="polygon">
                    <img src="img/polygon.svg" alt="polygon">
                </a>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#" class="menu-link">Lorem</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">Ipsum</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">Simply</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">Dummy</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <section class="first-section">
            <div class="title-container">
                <h1 class="title">Lorem <br> Ipsum <br> is simply</h1>
            </div>
        </section>

        <section class="second-section">
            <div class="content">
                <div class="text-list">
                    <div class="content__text">
                        <h2 class="content__text-title">Lorem Ipsum is simply dummy text of the printing</h2>
                        <span class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                        <button class="btn">Lorem Ipsum</button>
                    </div>
                    <div class="content__list">
                        <div class="content__circles">
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                        </div>
                        <div class="content__list-text">
                            <p class="list-text">It is a long established fact that a reader</p>
                            <p class="list-text">The point of using Lorem Ipsum is that</p>
                            <p class="list-text">Many desktop publishing packages</p>
                            <p class="list-text">There are many variations of passages</p>
                        </div>
                    </div>
                </div>
                <div class="content__img">
                    <img src="/img/img-1.svg" alt="img-1">
                </div>
            </div>
        </section>

        <section class="third-section carousel">

            <div class="third-section-title">
                <h2>Lorem</h2>
            </div>

                <div class="slider-container">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide card">
                                <div class="card-content-top">
                                    <div class="card-circle"></div>
                                    <div class="card-title">Lorem <br>Ipsum</div>
                                </div>
                                <ul class="card-ul">
                                    <li class="card-li">
                                        <span>It is a long established fact that a reader will be distracted</span>
                                    </li>
                                    <li class="card-li">
                                        <span>The readable content</span>
                                    </li>
                                    <li class="card-li">
                                        <span>There are many variations of passages</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide card">
                                <div class="card-content-top">
                                    <div class="card-circle"></div>
                                    <div class="card-title">Lorem <br>Ipsum</div>
                                </div>
                                <ul class="card-ul">
                                    <li class="card-li">
                                        <span>It is a long established fact that a reader will be distracted</span>
                                    </li>
                                    <li class="card-li">
                                        <span>The readable content</span>
                                    </li>
                                    <li class="card-li">
                                        <span>There are many variations of passages</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide card">
                                <div class="card-content-top">
                                    <div class="card-circle"></div>
                                    <div class="card-title">Lorem <br>Ipsum</div>
                                </div>
                                <ul class="card-ul">
                                    <li class="card-li">
                                        <span>It is a long established fact that a reader will be distracted</span>
                                    </li>
                                    <li class="card-li">
                                        <span>The readable content</span>
                                    </li>
                                    <li class="card-li">
                                        <span>There are many variations of passages</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

        </section>

        <section class="fourth-section">
            <div class="fourth-section__container">
                <h2 class="title-passages"><span>Lorem Ipsum is simply</span></h2>

                <div class="fourth-section__list">
                    <div class="list-left">
                        <div class="list-nums-left">
                            <div class="num">01</div>
                            <div class="num">02</div>
                            <div class="num">03</div>
                        </div>
                        <div class="list-texts-left">
                            <div class="num-content">Contrary to popular belief, Lorem Ipsum</div>
                            <div class="num-content">Random text it has roots in a piece of classical</div>
                            <div class="num-content">Latin literature from 45 BC, making it over 2000 years old</div>
                        </div>
                    </div>
                    <div class="list-right">
                        <div class="list-nums-left">
                            <div class="num">04</div>
                            <div class="num">05</div>
                            <div class="num">06</div>
                        </div>
                        <div class="list-texts-left">
                            <div class="num-content">It was popularised in the 1960s with the release</div>
                            <div class="num-content">If you are going to use a passage of Lorem Ipsum</div>
                            <div class="num-content">There are many variations of passages of Lorem Ipsum</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-variations">
            <div class="section-variations-img">
                <img src="/img/img-2.svg" alt="img-2">
            </div>
            <div class="section-variations-info">
                <h3 class="section-variations-title">There are many variations of passages</h3>
                <p class="section-variations-text">
                    of Lorem Ipsum available, but the majority have suffered alteration in some form
                </p>

                <div class="section-variations-list">
                    <ul class="section-variations-ul left">
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                    </ul>
                    <ul class="section-variations-ul right">
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="section-random-items">
            <div class="random-items" id="random-items">
                <div class="section-random-container">
                    <div class="section-random-circle"></div>
                    <h2>Lorem Ipsum is simply dummy text</h2>
                    <div class="section-random-text">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <ul class="section-random-ul">
                            <li><span>Lorem Ipsum has been the industry's</span></li>
                            <li><span>Standard dummy text ever since</span></li>
                            <li><span>But also the leap into electronic typesetting</span></li>
                        </ul>
                    </div>
                </div>
<!--                <BlueSection />-->
            </div>
        </section>

        <div class="blue-section">
            <div id="blue-section"></div>
            <div class="blue">
                <div class="blue-circle"></div>
                <div class="blue-content">
                    Lorem Ipsum <br>is simply
                </div>
                <div class="blue-circle two"></div>
                <div class="blue-content">
                    Lorem Ipsum <br>is simply
                </div>
                <div class="blue-circle three"></div>
                <div class="blue-content">
                    Lorem Ipsum <br>is simply
                </div>
            </div>

        </div>

        <section class="section-form">
            <h1>Lorem Ipsum <br>is simply dummy text</h1>

            <div class="section-form-container">
                <div class="form-container">
                    <h2 class="form-title">It is a long established <br>fact that a reader</h2>
                    <form class="form" id="form">
                        <label for="name"></label>
                        <input class="name" id="name" type="text" placeholder="Name" v-model="name"/>
                       <div class="form-items">
                           <label for="phone"></label>
                           <input class="tel" type="tel" id="phone" placeholder="Phone" v-model="phoneNumber"/>
                           <label for="email"></label>
                           <input class="email" type="email" id="email" placeholder="E-mail" v-model="email"/>

                           <p class="notice" v-if="errors.length">
                               <span v-for="err in errors" :key="err"><b class="star"> * </b> {{err}} </span>
                           </p>
                       </div>

                        <div class="filter-slider" id="range-slider"></div>

                        <div class="radio-btn-section">
                            <div class="input-section">
                                <input type="radio" checked>
                                <label>Lorem Ipsum is simply dummy text</label>
                            </div>
                            <button class="btn" @click="dataFormUser">Lorem Ipsum</button>
                        </div>
                    </form>
                </div>

                <div class="reader">
                    <h2>It is a long established <br> fact that a reader</h2>
                    <p class="email"><a href="mailto:support@email.com">support@email.com</a></p>
                    <p class="reader-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <ul class="footer-social">
                    <li class="social-item"><a class="social-link youtube" href="#"><img src="img/facebook.png"></a></li>
                    <li class="social-item"><a class="social-link youtube" href="#"><img src="img/instagram.png"></a></li>
                    <li class="social-item"><a class="social-link youtube" href="#"><img src="img/youtube.png"></a></li>
                    <li class="social-item"><a class="social-link youtube" href="#"><img src="img/twitter.png"></a></li>
                </ul>
                <div class="copy">© 2020 Vis-A-Vis</div>
            </div>
            <div class="footer-right">
                <ul class="footer-ul">
                    <li class="item"><a href="#">Lorem</a></li>
                    <li class="item"><a href="#">Ipsum</a></li>
                    <li class="item"><a href="#">Demmy</a></li>
                    <li class="item"><a href="#">Text</a></li>
                </ul>
                <ul class="footer-ul">
                    <li class="item"><a href="#">Lorem</a></li>
                    <li class="item"><a href="#">Ipsum</a></li>
                    <li class="item"><a href="#">Demmy</a></li>
                    <li class="item"><a href="#">Text</a></li>
                </ul>
                <ul class="footer-ul">
                    <li class="item"><a href="#">Lorem</a></li>
                    <li class="item"><a href="#">Ipsum</a></li>
                    <li class="item"><a href="#">Demmy</a></li>
                    <li class="item"><a href="#">Text</a></li>
                </ul>
            </div>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="swiper/swiper-bundle.min.js"></script>
    <script src="swiper/slider.js"></script>
    <script src="range-slider/nouislider.min.js"></script>
    <script src="range-slider/range-slider.js"></script>
    <script src="components/random-item.js"></script>
<!--    <script type="module" src="components/blue-section.js"></script>-->
    <script src="script.js"></script>
</body>
</html>